name: CI/CD Churn Model

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: 3.12.7
          use-only-tar-bz2: true

      - name: Create conda environment and install dependencies
        run: |
          cd MLProject
          conda env create -f conda.yaml
          conda activate mlflow-churn
          pip install mlflow==2.19.0  # Pastikan mlflow terinstal

      - name: Run MLflow Project
        run: |
          cd MLProject
          conda activate mlflow-churn
          export MLFLOW_TRACKING_URI=file://$(pwd)/mlruns
          mlflow run .

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: model-artifacts
          path: |
            MLProject/confusion_matrix.png
            MLProject/feature_importance.png
            MLProject/shap_waterfall.png
            MLProject/classification_report.txt

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        run: |
          cd MLProject
          conda activate mlflow-churn  # Aktifkan lagi untuk akses mlflow
          RUN_ID=$(grep -r "run_id" mlruns/0/*/meta.yaml | head -n1 | cut -d':' -f2 | tr -d ' ')
          mlflow models build-docker -m "runs:/$RUN_ID/model" -n churn-model

      - name: Push Docker Image
        run: |
          docker tag churn-model ${{ secrets.DOCKERHUB_USERNAME }}/churn-model:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/churn-model:latest