name: CI/CD Churn Model

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: 3.12.7
          use-only-tar-bz2: true

      - name: Create conda environment and run MLflow
        run: |
          cd MLProject
          conda env create -f conda.yaml
          conda activate mlflow-churn
          export MLFLOW_TRACKING_URI=file://$(pwd)/mlruns
          mlflow run .

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: MLProject/mlruns/

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image from MLflow Run
        run: |
          cd MLProject
          RUN_ID=$(grep -r "run_id" mlruns/0/*/meta.yaml | head -n1 | cut -d':' -f2 | tr -d ' ')
          echo "Run ID: $RUN_ID"
          mlflow models build-docker -m "runs:/$RUN_ID/model" -n churn-model

      - name: Push Docker Image
        run: |
          docker tag churn-model ${{ secrets.DOCKERHUB_USERNAME }}/churn-model:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/churn-model:latest