name: CI/CD Churn Model

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: 3.12.7
          use-only-tar-bz2: true

      - name: Create conda environment and install dependencies
        run: |
          cd MLProject
          conda env create -f conda.yaml
          conda activate mlflow-churn

      - name: Run Training Script Directly
        run: |
          cd MLProject
          conda activate mlflow-churn
          python modelling_tuning.py

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: model-artifacts
          path: |
            MLProject/confusion_matrix.png
            MLProject/feature_importance.png
            MLProject/shap_waterfall.png
            MLProject/classification_report.txt

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        run: |
          cd MLProject
          conda activate mlflow-churn
          # Salin model dari mlruns ke folder saat ini
          cp -r mlruns/0/*/artifacts/model ./
          docker build -t churn-model -f Dockerfile .

      - name: Push Docker Image
        run: |
          docker tag churn-model ${{ secrets.DOCKERHUB_USERNAME }}/churn-model:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/churn-model:latest